{% extends "layout.html" %}
{% block body %}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Gizlilik Politikası</h1>
    <i><p id="updateTime"> </p></i>

    <h2 class="mt-4">1. Toplanan Bilgiler</h2>
    <ul>
        <li>Kişisel Bilgiler: Ad, e-posta adresi, telefon numarası vb.</li>
        <li>Otomatik Bilgiler: IP adresi, çerezler, tarayıcı bilgileri.</li>
    </ul>

    <h2 class="mt-4">2. Bilgilerin Kullanımı</h2>
    <p>Toplanan veriler, hizmetlerimizi geliştirmek ve yasal yükümlülükleri yerine getirmek amacıyla kullanılabilir.</p>

    <h2 class="mt-4">3. Çerezler</h2>
    <p>Web sitemiz, kullanıcı deneyimini artırmak için çerezler kullanabilir. Çerezler, ziyaret ettiğiniz web sayfalarını, giriş bilgilerinizi, dil tercihleriniz gibi bilgileri saklamak için tarayıcınızda depolanabilir.</p>
    <ul>
        <li><strong>İşlevsel Çerezler:</strong> Web sitesinin temel işlevlerini yerine getirmesini sağlar.</li>
        <li><strong>Analitik Çerezler:</strong> Web sitesi performansını izlemek ve geliştirmek amacıyla kullanılır.</li>
        <li><strong>Reklam Çerezleri:</strong> Kullanıcıların ilgi alanlarına uygun reklamlar göstermek için kullanılır.</li>
    </ul>
    <p>Çerezleri kabul etmek veya reddetmek için tarayıcı ayarlarınızı kullanabilirsiniz. Çerezleri devre dışı bırakmak, web sitesinin bazı özelliklerinin düzgün çalışmamasına neden olabilir.</p>

    <h2 class="mt-4">4. İletişim</h2>
    <p>Gizlilik politikamız hakkında sorularınız için bizimle iletişime geçebilirsiniz.</p>
</div>

{% endblock body %}