{% extends "layout.html" %}
{% block body %}

<div class="container mt-5">
    <h1 class="mb-4 text-center">Şartlar ve Koşullar</h1>
    <i><p id="updateTime"> </p></i>

    <h2 class="mt-4">1. Hizmet Kullanımı</h2>
    <p>Kullanıcılar, web sitemizi yalnızca yasal amaçlarla kullanmalıdır.</p>

    <h2 class="mt-4">2. Hesap Güvenliği</h2>
    <p>Hesap güvenliği tamamen kullanıcı sorumluluğundadır.</p>

    <h2 class="mt-4">3. Fikri Mülkiyet</h2>
    <p>Web sitemizdeki içerik, [MkBlogs]’a aittir ve izinsiz kopyalanamaz.</p>

    <h2 class="mt-4">4. Sorumluluk Reddi</h2>
    <p>[MkBlogs] herhangi bir garanti vermez ve içerikteki hatalardan sorumlu tutulamaz.</p>

    <h2 class="mt-4">5. Güncellemeler</h2>
    <p>Bu şartlar zaman zaman güncellenebilir.</p>

    <h2 class="mt-4">6. İletişim</h2>
    <p>📧 <strong>E-posta:</strong> mrtkkr01@gmail.com</p>
</div>

{% endblock body %}